<div class='container my-5'>

	<div class="container bg-primary p-3 shadow d-flex justify-content-between align-items-center">
		<h2 class="text-white">Forums</h2>
		<div class="d-flex justify-content-center align-items-center rounded-circle bg-light p-3 text-primary"><%= fa_icon 'comments 3x', class: 'mx-2' %></div>
	</div>
	 <div class="container bgverylight p-3 border shadow">
    <p>Les <span class="font-weight-bold">Forums</span> sont des espaces d'échange thématiques.</p>
    <p>
		Si un le forum est celui d'un Mouvement, vous devez rejoindre ce Mouvement pour pouvoir contribuer à son espace de discussion.
    </p>
    <p>
		Des <span class="font-weight-bold">modérateurs</span>
    </p>
  </div>

	<hr class="my-4" style="width: 75%">

	<h4 class="mb-2">Forums généraux</h4>
	<table class="table table-bordered table-striped mb-4">
		<thead>
			<tr class="border-0">
				<th scope="col-md-10 border-0 text-primary">Titre du Forum</th>
				<th scope="col-md-2 m-auto border-0 text-white" style="width: 20%;">Nombre de Posts</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td class="py-2"><%= link_to "Forum Général", forum_path(1) %></td>
				<td class="py-2"><%= Forum.find(1).posts.count %></td>
			</tr>
		</tbody>
	</table>

	<hr class="my-4" style="width: 75%">

	<h4 class="mb-3">Forums de Mouvements</h4>
	<table class="table table-bordered table-striped border-primary mb-4">
		<thead>
			<tr class="">
				<th scope="col-md-10 text-primary">Titre du Forum</th>
				<th scope="col-md-2 m-auto text-white">Nombre de Posts</th>
			</tr>
		</thead>
		<tbody>
			<% @commitments.each do |each_commitment| %>
				<% if each_commitment.forum %>
					<tr>
						<td class="py-2 border-bottom-0"><%= link_to each_commitment.title, forum_path(each_commitment.forum) %></td>
						<td class="py-2 border-bottom-0" style="width: 20%;"><%= each_commitment.forum.posts.count %></td>
					</tr>
				<% else %>
					<tr>
						<td class="py-2 "><%= each_commitment.title %></td>
						<td class="py-2 ">n'a pas encore de Forum.</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>

</div>
