<div class="container my-5">

	<div class="container bg-primary p-3 shadow d-flex justify-content-between align-items-center">
		<h2 class="text-white">Thèmes</h2>
		<div class="d-flex justify-content-center align-items-center rounded-circle bg-light p-3 text-primary"><%= fa_icon 'folder-open 3x', class: 'mx-1' %></div>
	</div>
	<div class="container bgverylight p-3 border shadow">
		<p>Les <span class="font-weight-bold">Thèmes</span> désignent les grandes problématiques environnementales.</p>
		<p>
		Chaque Thème regroupe plusieurs Mouvements, et dispose de <span class="font-weight-bold">Sources</span> vous permettant de vérifier sa pertinence.
		</p>
		<p>
		Vous pouvez <span class="font-weight-bold">Suivre</span> un Thème si, vous aussi, vous pensez qu'il s'agit d'une problématique prioritaire de la transition écologique. Nous vous tiendrons informé de son actualité (Mouvements, Sources, Actions).
		</p>
	</div>

	<hr class="my-4">

	<div class="container bgverylight border shadow">
		<% if @themes.count == 0 %>
			<div class="list-group">
				<div class="list-group-item">
					Il n'y a pas de Thème actuellement sur Le Lobby...
				</div>
			</div>
		<% else %>

			<div class="row p-3">
				<% @themes.each do |each_theme| %>
					<div class="col-md-6 p-2">
						<div class="card commitement border-primary shadow" style="min-height: 200px">
							<a href="<%= theme_path(each_theme.id) %>" style="text-decoration: none">
								<div class="card-body">
									<h5 class="card-title text-center">
										<%= fa_icon 'leaf', class: 'float-left' %><%= fa_icon 'leaf', class: 'float-right' %><%= each_theme.title %>
									</h5>
									<p class="card-text my-3 overflow-hidden" style="height: 6rem;">
									<%= each_theme.description %>
									</p>
									<div class="container d-flex align-items-center justify-content-between p-0">
										<p class="card-text">
										Inscrits :
										<%= each_theme.users.count %>
										<br/>
										Mouvements :
										<%= each_theme.commitments.count %>
										</p>
										<button class="btn btn-primary text-center float-right my-3">En savoir plus</button>
									</div>
								</div>
							</a>
						</div>
					</div>
				<% end %>
			</div>

		<% end %>
	</div>

</div>
