<div class="container my-5">
	<!-- THEME TITLE -->
	<div class="container bg-primary text-white p-4 shadow">
		<h1><%= @theme.title %></h1>
	</div>
	<hr class="my-4">

	<!-- THEME PRESENTATION -->
	<%= render "presentation" %>
	<hr class="my-4">

	<!-- SOURCES -->
	<%= render "sources" %>
	<hr class="my-4">

	<!-- CHARTS -->
	<%= render "charts" %>
	<hr class="my-4">

	<!-- COMMITMENTS FOR THIS THEME -->
	<%= render "commitments" %>
	<hr class="my-4">

	<!-- FOLLOWING USERS LIST -->
	<%= render "users" %>

	<!-- BUTTON BACK TO THEMES#INDEX -->
	<div class="col-md-1 mx-auto p-0 my-4">
		<%= link_to "Retour", themes_path, class: "btn btn-outline-secondary btnlinkoutline mt-3 align-self-end" %>
	</div>

</div>
