<div class="container my-5">


	<div class="container bg-primary p-3 shadow d-flex justify-content-between align-items-center">
		<h2 class="text-white">Profil utilisateur</h2>
	</div>

	<hr class="my-4" style="width: 75%;">

	<div class="container bg-primary pl-3 p-2 shadow">
		<h4 class="text-white my-auto">Vos informations</h4>
	</div>

	<div class="p-0 shadow">
		<table class="table table-bordered table-sm">
			<tbody>

				<tr class="">
					<td class="text-muted">e-mail&#8239:</td>
					<td class="text-center"><%= @user.email %></td>
				</tr>

				<tr class="">
					<td class="text-muted">prénom&#8239:</td>
					<td class="text-center"><%= @user.first_name %></td>
				</tr>

				<tr class="">
					<td class="text-muted">nom&#8239:</td>
					<td class="text-center"><%= @user.last_name %></td>
				</tr>

				<tr class="">
					<td class="text-muted">nom d'utilisateur</td>
					<td class="text-center"><%= @user.username %></td>
				</tr>

				<tr class="">
					<td class="text-muted">département&#8239:</td>
					<td class="text-center"><%= @user.department %></td>
				</tr>

				<tr class="">
					<td class="text-muted">mouvements&#8239:</td>
					<td class="text-center"><%= @user.commitments.count %></td>
				</tr>

				<tr class="">
					<td class="text-muted">affichage de l'identité&#8239:</td>
					<% if @user.name_display == true %>
						<td class="text-center">nom et prénom</td>
					<% else %>
						<td class="text-center">nom d'utilisateur</td>
					<% end %>
				</tr>

				<tr class="">
					<td class="text-muted">inscrit aux emails&#8239:</td>
					<% if @user.accept_mails %>
						<td class="text-center">Oui</td>
					<% else %>
						<td class="text-center">Non</td>
					<% end %>
				</tr>

				<tr class="">
					<td class="text-muted">membre depuis&#8239:</td>
					<td class="text-center"><%= @user.created_at.to_date.to_s(:rfc822) %></td>
				</tr>

			</tbody>
		</table>


	</div>


	<!-- EDIT PROFILE & EDIT DEVISE BUTTONS -->
	<div class="">
		<div class="d-flex justify-content-between">
			<div class="float-right">
				<%= link_to 'Modifier votre profil', edit_user_path(@user), class: 'btn btn-block btn-secondary shadow' %>
			</div>
			<div class="float-right">
				<%= link_to 'Paramètres de connexion', edit_user_registration_path, class: 'btn btn-block btn-outline-secondary shadow' %>
			</div>
		</div>
	</div>

	<hr class="my-4" style="width: 75%;">

	<!-- COMMITMENTS TAKEN BY USER -->
	<div class="border shadow clearfix p-0">
		<div class="container bg-primary pl-3 p-2 shadow">
			<h4 class="text-white my-auto">Vos Mouvements</h4>
		</div>
		<div class="card-primary border-0">
			<div class="card-body p-0">
				<table class="table table-bordered border-top-0 border-bottom-0 table-sm m-0">
					<% if @user_commitments.length > 0 %>
						<thead class="bg-secondary">
							<tr class="py-auto">
								<th scope="col" class="text-center pt-2 pb-1"><h6>Mouvement</h6></th>
								<th scope="col" class="text-center pt-2 pb-1"><h6>Description</h6></th>
							</tr>
						</thead>
						<tbody class="">
							<% @user_commitments.each do |user_commitment| %>
								<tr>
									<td class="">
										<%= link_to "#{user_commitment.commitment.title}", commitment_path(user_commitment.commitment.id) %>
									</td>
									<td class="">
										<%= user_commitment.commitment.description %>
									</td>
								</tr>
							<% end %>
						</tbody>
					<% else %>
						<tbody>
							<tr>
								<td>Vous ne suivez aucun Mouvement pour le moment.</td>
							</tr>
						</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>

	<div class="clearfix">
		<%= link_to "Tous les Mouvements", commitments_path, class: 'btn btn-primary float-right shadow' %>
	</div>

	<hr class="my-4" style="width: 75%;">

	<!-- THEMES FOLLOWED BY USER -->

	<div class="border shadow clearfix p-0">
		<div class="container bg-primary pl-3 p-2 shadow">
			<h4 class="text-white my-auto">Vos Thèmes</h4>
		</div>
		<div class="card-primary border-0">
			<div class="card-body p-0">
				<table class="table table-bordered border-top-0 border-bottom-0 table-sm m-0">
					<% if @user.themes.length > 0 %>
						<thead class="bg-secondary">
							<tr class="py-auto">
								<th scope="col" class="text-center pt-2 pb-1"><h6>Thème</h6></th>
								<th scope="col" class="text-center pt-2 pb-1"><h6>Description</h6></th>
							</tr>
						</thead>
						<tbody class="">
							<% @user.themes.each do |each_theme| %>
								<tr>
									<td class="">
										<%= link_to "#{each_theme.title}", theme_path(each_theme.id) %>
									</td>
									<td class="">
										<%= each_theme.description %>
									</td>
								</tr>
							<% end %>
						</tbody>
					<% else %>
						<tbody>
							<tr>
								<td>Vous ne suivez aucun Thème pour le moment.</td>
							</tr>
						</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<%= link_to 'Tous les Thèmes', themes_path, class: 'btn btn-primary float-right shadow' %>
	</div>

</div>
