<div class="container my-5">

	<!-- COMMITMENT TITLE -->
	<div class="container bg-primary p-4 shadow">
		<h2 class="text-white"><%= @commitment.title%></h2>
	</div>
	<hr class="my-4">

	<!-- COMMITMENT PRESENTATION -->
	<%= render "presentation" %>
	<hr class="my-4">

	<!-- SOURCES -->
	<%= render "sources" %>
	<hr class="my-4">

	<!-- CHARTS -->
	<%= render "charts" %>
	<hr class="my-4">

	<!-- USERS LIST FOR THIS COMMITMENT -->
	<%= render "users" %>

	<!-- BUTTON BACK TO COMMITMENTS#INDEX.HTML.ERB -->
	<div class="col-md-1 mx-auto p-0 my-4">
		<%= link_to "Retour", commitments_path, class: "btn btn-outline-secondary btnlinkoutline mt-3 align-self-end" %>
	</div>

</div>
