<div class="container my-5">

	<!-- COMMITMENT TITLE -->
	<div class="container bg-primary p-3 mb-4 shadow">
		<h2><%= @commitment.title%></h2>
	</div>

	<hr>

	<!-- COMMITMENT PRESENTATION -->
	<div class="row mb-4">

		<div class="col-md-8">
			<div class="card border-primary shadow">
				<h3 class="card-header">Informations</h3>

				<div class="card-body">
					<h5 class="mt-2">Description</h5>
					<p><%= @commitment.description %></p>

					<h5>Thèmes associés</h5>
					<% @commitment.themes.each do |each_theme| %>
						<%= link_to each_theme.title, theme_path(each_theme.id),class:'badge badge-secondary' %>
					<% end %>
				</div>
			<!-- BUTTON TO FORUM IF FORUM EXISTS -->
			<% if @commitment.forum %>
				<%= link_to "Forum", forum_path(@commitment.forum.id), class: "btn btn-outline-primary btnlinkoutline mt-3 col-md-3 align-self-end"%>
			<% end %>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card d-flex justify-content-center border-0 shadow" style="height: 100%;">
				<div class="card-body bgshow">
				<h1 class="text-white"><%= @commitment.users.count %></h1>
				<h5 class="text-white">utilisateurs<br/>ont rejoint<br/>ce Mouvement</h5>
				</div>
				<!-- BUTTON TO TAKE A COMMITMENT OR TAKE OUT A COMMITMENT -->
				<% if user_signed_in? %>
					<% if current_user.commitments.include?(@commitment) %>
						<%= link_to "Quitter", commitment_user_commitment_path(@commitment.id, @commitment.user_commitments.find_by(user: current_user)), method: 'delete', class: 'btn btn-outline-secondary btnoutlinelink text-wrap' %>
					<% else %>
						<%= link_to "Rejoindre", commitment_user_commitments_path(@commitment.id), method: 'post', class: "btn btn-outline-primary btnlinkoutline text-wrap" %>
					<% end %>
				<% else %>
					<%= link_to "Rejoindre", user_session_path, method: 'get', class: "btn btn-block btn-outline-primary btnlinkoutline text-wrap" %>
				<% end %>
			</div>
		</div>

	</div>

	<hr>

	<!-- SOURCES -->
	<div class="card mb-4 shadow">
		<h3 class="card-header">Sources</h3>
		<div class="card-body bgverylight pb-0 pt-1">
			<div class="row align-items-center">

				<% if @commitment.sources.count > 0 %>
					<% @commitment.sources.each do |each_source| %>

						<div class="my-2 col-md-4 p-2 ">
							<a href="<%= each_source.url %>" target="_blank">
								<h5 class="mt-2" style="height: 6rem;"><%= each_source.title %></h5>
								<h6><small>édité par</small> <%= each_source.media %>.</h6>
								<p><%= each_source.description %></p>
							</a>
						</div>
					<% end %>
				<% else %>
					</p>Il n'y a pas de Source pour ce Thème.</p>
				<% end %>

			</div>
		</div>
	</div>

	<hr>

	<!-- STATISTICS -->
	<div class="card mb-4 shadow">
		<h3 class="card-header">Statistiques</h3>

		<div class="row card-body mb-0">
			<div class="col-md-8">
				<h5 class="mb-4">Évolution du nombre d'utilisateurs</h5>
				<% if @commitment.users.count > 0 %>
					<%= line_chart(@commitment.users_by_day) %>
				<% else %>
					<div>Il n'y a pas d'utilisateur ayant rejoint ce Mouvement pour le moment.</div>
				<% end %>
			</div>

			<div class="col-md-4">
				<h5>Géographie</h5>
				<h6 class="text-muted">utilisateurs / département</h6>
				<div class="p-2">
					<%= pie_chart(@commitment.users.group(:department).count, legend: false) %>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<!-- USERS LIST FOR THIS COMMITMENT -->
	<div class="card mb-4 shadow">

		<div class="card-header">
			<h3 class="align-middle">Utilisateurs</h3>
		</div>

		<div class="card-body p-0">

			<table class="table table-bordered table-sm m-0">
				<% if @commitment.users.count == 0 %>
					<thead>
						<tr><td>Il n'y a pas d'utilisateur ayant rejoint ce Mouvement pour le moment</td></tr>
					</thead>
				<% else %>
					<thead>
						<tr>
							<th scope="col">Utilisateur</th>
							<th scope="col">Département</th>
							<th scope="col">Nombre de Mouvements rejoints</th>
						</tr>
					</thead>
					<tbody>
						<% @commitment.users.each do |each_user| %>
							<tr>
								<td class="py-1"><%= each_user.display %></td>
								<td class="py-1"><%= each_user.department %></td>
								<td class="py-1"><%= each_user.commitments.count %></td>
							</tr>
						<% end %>
					</tbody>
				<% end %>
			</table>

		</div>

	</div>

	<!-- BUTTON BACK TO COMMITMENTS#INDEX.HTML.ERB -->
	<div class="col-md-1 mx-auto p-0 mb-4">
		<%= link_to "Retour", commitments_path, class: "btn btn-outline-secondary btnlinkoutline mt-3 align-self-end" %>
	</div>

</div>
